@import url('https://fonts.googleapis.com/css?family=Roboto|Yanone+Kaffeesatz');
$primary-green: #1ABC9C;
$primary-blue: #3498DB;
$primary-red: #E74C3C;
$primary-white: #D1D5D8;
$primary-yellow: #F1C40F;

$yanone: 'Yanone Kaffeesatz', sans-serif;
$roboto: 'Roboto', sans-serif;

*, *:before, *:after, * > * {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	// background-color: $primary-blue;
	background-color: #3498db;
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2375b9e7' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	font-family: $yanone;
	color: $primary-white;
}

.button {
	margin: 1.5rem 0;
	border: 2px solid lighten($primary-blue, 15%);
	padding: 1rem;
	cursor: pointer;
	font-family: $roboto;
	background: transparent;
	outline: none;
	min-width: 200px;
	font-weight: 700;
	color: $primary-white;
	font-size: 1.05rem;
	position: relative;
	overflow: hidden;

	&.warning {
		border: 2px solid $primary-yellow;
		color: $primary-white;

		i {
			color: $primary-yellow;
		}
	}

	&:before, &:after {
		position: absolute;
		background: lighten($primary-blue, 15%);
		width: 50%;
		height: 100%;
		content: '';
		top: 0;
		transform-origin: left bottom;
		border: 2px solid lighten($primary-blue, 15%);
		transition: all .4s ease-in-out;
		z-index: -1;
	}

	&:before {
		left: 0;
		transform: translateX(-150%);
	}

	&:after {
		right: 0;
		transform: translateX(150%);
	}

	&.wait {
		background: lighten($primary-blue, 15%);
	}

	&:hover {
		&:before {
			transform: translateX(0);
		}

		&:after {
			transform: translateX(0);
		}
	}

	&[disabled=disabled] {
		display: none;
		cursor: not-allowed;
	}
}

.message {
	color: $primary-white;
	background: transparent;
	padding: .5rem;
	font-family: $roboto;
	font-size: 0.9rem;
	opacity: 0;
	transition: all .3s ease-in-out;
	text-align: center;
	margin-top: 1rem;

	p {
		display: block;
	}

	a {
		text-decoration: none;
		transition: all .3s ease-in-out;
	}
}

.success {
	background-color: rgba($primary-green, 0.8);
	color: $primary-white;
	border: 2px solid $primary-green;
	opacity: 1;

	a {
		color: darken($primary-green, 10%);

		&:hover {
			color: $primary-white;
		}
	}
}

.warning {
	background-color: rgba($primary-yellow, 0.8);
	color: $primary-white;
	border: 2px solid $primary-green;
	opacity: 1;

	a {
		color: darken($primary-yellow, 0.8);
	}
}

footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.7rem;
	text-align: right;
	font-family: $roboto;
	color: lighten($primary-blue, 20%);

	p {
		margin: 0;
		padding: 0;
	}

	a {
		color: lighten($primary-blue, 20%);
		text-decoration: dashed;
		transition: all .3s ease-in-out;

		i {
			color: $primary-yellow;
			visibility: visible !important;
		}

		&:hover {
			color: $primary-yellow;
		}
	}
}
